#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    width: 1920px;
}

.menu {
    width: 1920px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.btn {
    width: 10%;
}

h1 {
    width: 1920px;
}